---
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
// import { Image } from "astro:assets";
// import img from "../assets/astro.svg";
---

<Layout title="Contact">
  <h1 class="text-6x1 font-bold" style="font-size: 2em;">Hello! 👋</h1>
  <h2 class="text-2xl font-bold">Want to chat?</h2>
  <div class="text-2x1">
    <p>
      Feel free to reach out to me on any of the platforms below.
      <br />
      I'm always happy to chat about software development, games, or anything else
      you might want to talk about!
    </p>
  </div>
  <div class="flex justify-center gap-4">
    <Socials />
  </div>
</Layout>
