---
import Layout from "../layouts/Layout.astro";
import ProjectSummary from "./ProjectSummary.astro";
import { type CollectionEntry } from "astro:content";

interface Props {
  title: string;
  projects: Array<CollectionEntry<"projects">>;
  tag?: string;
}

const { title, projects } = Astro.props;
---

<Layout title={title}>
  <a href="/projects" class="!no-underline" transition:name="project-title">
    <h1 class="!mb-2">Projects</h1>
  </a>
  <div class="flex flex-col">
    {
      projects.map((project, i) => {
        if (i < projects.length - 1) {
          return (
            <>
              <ProjectSummary project={project} />
              <hr />
            </>
          );
        }
        return <ProjectSummary project={project} />;
      })
    }
  </div>
</Layout>
