---
import { Github, Linkedin, AtSign } from "lucide-astro";
const socials = [
  {
    name: "GitHub",
    Icon: Github,
    href: "https://github.com/VeryParadoxical",
  },
  {
    name: "LinkedIn",
    Icon: Linkedin,
    href: "https://uk.linkedin.com/in/adam-milner-152910165",
  },
  {
    name: "Email",
    Icon: AtSign,
    href: "mailto:contact@adammilner.co.uk",
  },
];
---

<div class="flex flex-row flex-wrap items-center gap-4">
  {
    socials.map(({ name, Icon, href }) => (
      <a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2"
        title={name}
      >
        <Icon size={24} />
      </a>
    ))
  }
</div>
