---
import { Github } from "lucide-astro";

interface Props {
  class?: string;
}

const url = "https://github.com/VeryParadoxical/portfolio-astro";
---

<a
  href={url}
  class:list={[
    "flex w-fit flex-row items-center gap-2 hover:underline",
    Astro.props.class,
  ]}
  target="_blank"
  rel="external noreferrer"
>
  <Github size={20} />
  <span>View source</span>
</a>
